[submodule "Shared/RevelationAPI"]
	path = Shared/RevelationAPI
	url = https://github.com/RevelationApp/RevelationAPI.git
[submodule "Shared/RevelationUI"]
	path = Shared/RevelationUI
	url = https://github.com/RevelationApp/RevelationUI.git
[submodule "Shared/RevelationCoreData"]
	path = Shared/RevelationCoreData
	url = https://github.com/RevelationApp/RevelationCoreData.git
[submodule "Shared/RevelationDomain"]
	path = Shared/RevelationDomain
	url = https://github.com/RevelationApp/RevelationDomain.git
